<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3>
				About
			</h3>
			<p>
				This webapp is intended to be used as a tool to manage and identify the current status or projects. It helps to visualize the operation of proyects, the posible issues or risks that may impact to those projects as well as its resources and other relevant information.<br /><br />This tool also allows users (Portfolio managers and managers) to submit comments on each of the projects assigned to them. Therefore, this allows an 'in-report' communication between them, which may help reduce the response time for any issue presented.<br /><br />
			</p>
		</div>
	</div>
</div>