			<div class="jumbotron">
				<h1>
					Status Report Tool
				</h1>
				<p>
				Hello, in this webapp you'll be able to mantain tracking of GFIT projects, please proceed to our 'Projects' section in order to start
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="/projects">  Go to projects </a>
				</p>
			</div>

